In [102]:
#import the necessary libraries
import os
import pandas as pd
import numpy as np
import json

In [103]:
filepath = os.path.join("purchase_data.json")

In [104]:
Heroes = pd.read_json(filepath)

In [105]:
display(Heroes.head(5))

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [106]:
display(Heroes.shape)

(780, 6)

In [107]:
#datatypes of the dataframe
Heroes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 780 entries, 0 to 779
Data columns (total 6 columns):
Age          780 non-null int64
Gender       780 non-null object
Item ID      780 non-null int64
Item Name    780 non-null object
Price        780 non-null float64
SN           780 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 42.7+ KB

In [108]:
# Total Number of Players
Heroes['SN'].nunique()

573

In [109]:
pd.DataFrame({"Total Number of Players":Heroes['SN'].nunique()},index=[0]).style.set_properties(**{'background-color': 'ash','color': 'black','border-color': 'white'})

In [110]:
# Number of Unique Items
Heroes['Item ID'].nunique()

183

In [111]:
# Average Purchase Price
Heroes['Price'].mean()

2.931192307692303

In [112]:
# Total Number of Purchases
len(Heroes)

780

In [113]:
# Total Revenue
Heroes['Price'].sum()

2286.33

In [114]:
pd.DataFrame({"Number of Unique Items":df['Item ID'].nunique(),
  "Average Purchase Price":df['Price'].mean(),
 "Total Number of Purchases":len(df),
"Total Revenue":df['Price'].sum()},index=[0]).style.set_properties(**{'background-color': 'ash','color': 'black','border-color': 'white'})

In [117]:
# get all the duplicate rows
display(Heroes.loc[df.duplicated("SN",keep=False),:].sort_values("SN").head(10))
display(len(Heroes.loc[Heroes.duplicated("SN",keep=False),:]))

,Age,Gender,Item ID,Item Name,Price,SN
431,37,Male,92,Final Critic,1.36,Aduephos78
308,37,Male,79,"Alpha, Oath of Zeal",2.88,Aduephos78
377,37,Male,174,Primitive Blade,2.46,Aduephos78
647,26,Male,156,Soul-Forged Steel Shortsword,1.16,Aeduera68
721,26,Male,39,"Betrayal, Whisper of Grieving Widows",2.35,Aeduera68
224,26,Male,106,Crying Steel Sickle,2.29,Aeduera68
529,38,Male,172,Blade of the Grave,1.69,Aelalis34
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
359,20,Male,32,Orenmir,4.95,Aeliriam77
637,20,Male,18,"Torchlight, Bond of Storms",1.77,Aeliriam77

375

In [119]:
# drop the duplicate SN rows 
Heroes_unique = df.drop_duplicates("SN", keep='first')
len(Heroes_unique)

573

In [120]:
pd.DataFrame({'Percentage of players' : Heroes_unique['Gender'].value_counts(normalize=True),
   'Total Count' : Heroes_unique['Gender'].value_counts()})

                       Percentage of players  Total Count
Male                                0.811518          465
Female                              0.174520          100
Other / Non-Disclosed               0.013962            8

In [121]:
summary_gender_purchasing = pd.DataFrame(Heroes.groupby('Gender').agg({'Price':[np.mean,np.sum],'Item ID':'count'}))
summary_gender_purchasing

                          Price          Item ID
                           mean      sum   count
Gender
Female                 2.815515   382.91     136
Male                   2.950521  1867.68     633
Other / Non-Disclosed  3.249091    35.74      11

In [122]:
test = pd.DataFrame({'days': [0,31,45,60]})
test['range'] = pd.cut(test.days, [0,30,60,90], right=False)
test

# right : Indicates whether the bins include the rightmost edge or not. If
# right == True (the default), then the bins [1,2,3,4] indicate
# (1,2], (2,3], (3,4]

   days     range
0     0   [0, 30)
1    31  [30, 60)
2    45  [30, 60)
3    60  [60, 90)

In [123]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
age_labels = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']
Heroes['Age_Group'] = pd.cut(Heroes['Age'], bins ,labels = age_labels,right=False)

In [125]:
sum_age = pd.DataFrame(df.groupby('Age_Group').agg({'Price':[np.mean,np.sum],'Item ID':'count'}))

In [126]:
sum_age.style

In [127]:
sum_spenders = pd.DataFrame(Heroes.groupby(['SN']).agg({'Price':[np.mean,np.sum],'Item ID':'count'}))

In [128]:
sum_spenders.sort_values(('Price','sum'),ascending=False)[:5].style.set_properties(**{'background-color': 'white', 'color': 'black','border-color': 'white'})

In [94]:
summ_items = pd.DataFrame(Heroes.groupby(['Item ID','Item Name']).agg({'Price':[np.mean,np.sum],'Item ID':'count'}))

In [95]:
sum_items.sort_values(('Item ID','count'),ascending=False)[0:5].style.set_properties(**{'background-color': 'white', 'color': 'black','border-color': 'white'})

In [129]:
sum_items = pd.DataFrame(Heroes.groupby(['Item ID','Item Name']).agg({'Price':[np.mean,np.sum],'Item ID':'count'}))

In [130]:
sum_items.sort_values(('Price','sum'),ascending=False)[0:5].style.set_properties(**{'background-color': 'white', 'color': 'black','border-color': 'white'})

In [131]:
#Observations
#While more men made more purchases than women, the company could re-evaluate whether this is because women spend less, or (more likely) because the items offered for sale follow a trend that appeals more to men.  Maybe they could come up with new items (or new sellable game features) targeting these women players.

# While it appears that the older consumers spend more money on the high value items, the company could come up with a strategy to take better advantage of this trend and see if they can boost this number towards a mean of $4 or higher.  I find it extremely likely that if they would spend $3 per item, these consumers would spend more if the options were available.

# The primary demographic for the game is Male between the ages of 20 to 24, and they spend the most money as well.

In [ ]:
http://localhost:8888/notebooks/Desktop/notebooks/Heroes%20Final.ipynb